/* animations.css */
@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}

.animate-background {
  background-image: url('logo.png');
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation 10s infinite alternate;
}

/* เพิ่มเงาให้ตัวอักษร */
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}